/* UniversalDeployer.css */
.universal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #c11bf3;
  }
  
  .input-field {
    margin-bottom: 10px;
  }
  
  .input-field label {
    font-size: 16px;
    font-weight: bold;
  }
  
  .input-field input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .btn-container {
    margin-top: 20px;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Styling for label value display */
  .selected-values {
    margin-top: 20px;
  }
  
  .selected-value {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  /* Styling for label value display */
  .selected-value.classHash {
    color: #007bff;
  }
  
  .selected-value.salt {
    color: #e84118;
  }
  
  .selected-value.unique {
    color: #44bd32;
  }
  
  .selected-value.calldata_len {
    color: #fbc531;
  }
  
  .selected-value.calldata {
    color: #ff6b6b;
  }
  