.workshop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  margin-top: 35%;
  z-index: 1;
}

.workshop-es-title {
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  z-index: 1;
}

.workshop-es-video-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

.workshop-es-video-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.workshop-es-navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.workshop-es-button {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #4f60f8e1;
  color: rgba(255, 255, 255, 0.74);
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin: 0 5px;
}

.workshop-es-button:hover {
  background-color: #1e75ff;
}

.starknet-es-previous-button {
  margin-right: 1rem;
}

.shadowed {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-4xl {
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .workshop-es-video-grid {
    grid-template-columns: 1fr;
  }
}
